
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="userLogin" (ngSubmit)="Login()">
            <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
  
            </div> -->
  
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
                <input class="form-control text-center" name="email" type="email"
                required [(ngModel)]="model.email">
                </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
                <input class="form-control text-center" name="password" type="text"
                required [(ngModel)]="model.password">
                </div>
         
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
        
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn  btn-lg btn_log" >Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a  routerLink="/otherPages/register"
                  class="link-danger">Register</a></p>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
   
  </section>